<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>random-gift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5913F7D1D9277C000F4452E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5913F8E1D9277C000F4452E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5913F991D9277C000F4452E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
