.wizard(data-initialize="wizard" id="myWizard" style='margin-top:30')
    .steps-container
        ul.steps
            li(data-step="1")
                <span class="badge badge-info">1</span> CSV등록
                span.chevron
            li(data-step="2")
                <span class="badge badge-info">2</span> 상품등록
                span.chevron
            li(data-step="3")
                <span class="badge badge-info">3</span> 추첨
                span.chevron